h1 {
  line-height: 100%;
  text-align: left;
  font-weight: bold;
  font-family: Century Gothic;
  font-size: 18pt;
  margin-top: 12pt;
  padding-top: 6pt;
  color: #2222ae;
}
.MenuBar {
  font-family: Impact;
  color: #ffffff;
  font-size: 8pt;
  background-color: #000080;
  margin-top: 4px;
  margin-bottom: 4px;
}
h2 {
  font-family: Century Gothic;
  font-size: 13pt;
  font-weight: bold;
  text-align: left;
  line-height: 100%;
  margin-top: 6px;
  padding-top: 3pt;
}
h3 {
  font-family: Century Gothic;
  font-size: 12pt;
  font-weight: bold;
  text-align: left;
  line-height: 100%;
  margin-top: 6px;
}
body {
  font-size: 12pt;
  text-align: left;
  margin-top: 6px;
  top: 0px;
  font-family: Verdana;
  font-weight: normal;
  line-height: 120%;
  padding-top: 6px;
}
